<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="emp" class="com.bean.Employee">
		<property name="empname" value="krishna" />
		<property name="empaddress" value="Sojitra" />
		<property name="phone" value="98982525"></property>
	</bean>
	<bean id="manager" class="com.bean.Manager">
	<property name="map">
		<map>
		
		<entry key="1" value-ref="emp"></entry>
		<entry key="2" value="jolly"></entry>
		</map>
	</property>
	</bean>

</beans>
