<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
/*

Attribute : autowire

Controls whether bean properties are "autowired". 
This is an automagical process in which bean references  
don't need to be coded explicitly in the XML bean definition
file, but rather the Spring container works out  dependencies.

"Constructor" Analogous to "byType" for constructor arguments.
If there is not exactly one bean of the constructor argument 
type in the bean factory, a fatal error is raised. 

*/
<bean id="phone" class="com.bean.Phone">
	<constructor-arg name="pno" value="123"/>
</bean>
<bean id="person" class="com.bean.Person" autowire="constructor">
	<constructor-arg name="pname" value="Ketan"/>
</bean>
</beans>
