<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
/*

The life cycle of a Spring bean is easy to understand. 
When a bean is instantiated(init-method="init" ), it may be 
required to perform some initialization to get it into a 
usable state. Similarly, when the bean is no longer required 
and is removed from the container, some cleanup may be required 
(destroy-method="destroy").

*/
<bean id="s1" class="com.bean.Student" init-method="init" destroy-method="destroy">
	<property name="fname" value="Yasir"/>
	<property name="lname" value="Saiyed"/>
	<property name="email" value="yasir@gmail.com"/>
</bean>
</beans>
